* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
    text-decoration: none;
}

@media screen and (max-width: 48em) {
    .section__padding {
        padding: 4rem;
    }
    
    .section__margin {
        margin: 4rem;
    }
}

@media screen and (max-width: 35em) {
    .section__padding {
        padding: 4rem 2rem;
    }
    
    .section__margin {
        margin: 4rem 2rem;
    }
}
