* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* scroll-behavior: smooth; */
}

html,
body {
  background: var(--color-bg);
  height: 100%;
  width: 100%;
  min-width: 100%;
  font-family: Geograph, Helvetica, Arial, sans-serif;
}

a {
  color: unset;
  text-decoration: none;
}

.App {
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  min-width: 100%;
}
