.header {
  /* display: flex;
  flex-direction: column; */
  position: relative;
  width: 100%;
  background: url("../../assets/cover.jpg") 0 0/100% 100% no-repeat;
  background-size: cover;
  height: 740px;
  color: var(--color-bg);
  object-fit: cover;
}

.header_poster {
  position: absolute;
  top: 70%;
  /* left: 21%; */
  margin: 0 54px;
}

.header_text h1 {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 63px;
  letter-spacing: 0.5px;
}

.header_text p {
  font-family: var(--font-family);
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.5px;
  margin: 0.5rem 0;
}

.header_btn-button {
  background: var(--color-bg);
  border-radius: 2px;
  margin-right: 24px;
  padding: 17px auto;
  width: 180px;
  height: 48px;
  color: var(--color-main);
  border: 0;
  outline: none;
  cursor: pointer;
}

.header_btn-button:hover {
  background: rgb(219, 215, 215);
  color: var(--color-bg);
}
